.git
.github
.gitignore
**/.DS_Store
**/.env
**/.env.*
!**/.env.example
**/.next
**/dist
**/node_modules
**/.venv
**/__pycache__
**/.pytest_cache
**/.ruff_cache
**/*.egg-info
**/.data
**/*.db
**/*.log
client
server
shared
frontend
backend/.data
attached_assets
node_modules
